@use 'variables' as v;

.delivery{
    padding: 1.5rem 3rem;
    background-color: v.$color-violet;
    min-height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 480px) {
        flex-direction: column;
    }
    &__img{
        max-width: 20rem;
    }
    &__title{
        padding: 0;
        margin: 0;
        color: v.$color-white;
        font-style: italic;
        @media screen and (max-width: 1000px) {
            font-size: 2.5rem;
        }
        @media screen and (max-width: 480px) {
            text-align: center;
        }
    }
}