@use 'variables' as v;

.principal {
    width: 100%;
    background: url(../assets/background.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    @media screen and (max-width: 676px) {
        background: url(../assets/background-movil.png) no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
    }
    &__grid {
        display: grid;
        place-content: center;
        height: 100vh;
    }

    &__content {
        padding: 5rem;
        background-color: #0c0c0c55;
    }

    &__title {
        color: v.$color-white;
        font-family: v.$font-primary;
        font-weight: 400;
        font-size: 4.5rem;
        text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.58),
            1px 1px 0px rgba(11, 11, 11, 0.642);
        padding-bottom: 3rem;
        text-align: center;
    }

    &__name {
        font-style: italic;
        font-weight: 800;
        transition: .5s linear;
        display: inline-block;
        animation: animationLetter 1s linear forwards;
    }

    &__paragraph {
        font-family: v.$font-primary;
        font-size: 3rem;
        color: v.$color-white;
        line-height: 1.5;
        text-align: center;
        font-weight: 200;

        &--italic {
            font-style: italic;
            font-weight: 800;
        }
    }

    &__botones {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: repeat(2, auto);
        place-content: center;
        gap: 1.5rem;

        &__boton {
            display: grid;
            place-content: center;
            width: 15rem;
            padding: 1.5rem 0;
            font-family: v.$font-primary;
            font-weight: 400;
            font-size: 2rem;
            color: v.$color-black;
            background-color: v.$color-white;
        }
    }
}

@keyframes animationLetter {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}