@use 'variables' as v;

.title {
    padding-bottom: 1.5rem;
    margin-bottom: 3rem;
    display: inline-block;
    font-family: v.$font-secundary;
    font-size: 4rem;

    &--white{
        color: v.$color-white;
        text-align: center;
    }

    &__border-violet {
        border-bottom: 5px solid v.$color-violet;
    }

    &__border-blue {
        border-bottom: 5px solid v.$color-blue;
    }

    @media screen and (max-width: 925px) {
        font-size: 3rem;
        line-height: 2;
    }

    @media screen and (max-width: 676px) {
        font-size: 2.3rem;
        line-height: 1.3;
    }
}

.paragraph {
    font-size: 3rem;
    font-family: v.$font-secundary;
    font-weight: 200;
    line-height: 1.5;
    text-align: center;

    @media screen and (max-width: 925px) {
        font-size: 2rem;
        line-height: 2;
    }

    @media screen and (max-width: 676px) {
        font-size: 1.8rem;
        line-height: 1.5;

        &:nth-last-of-type(2) {
            display: none;
        }
    }
}

.principal__title {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.total-precio {
    color: v.$color-white;
    text-align: center;
    font-size: 2.3rem;
    padding-bottom: 2rem;
    display: inline-block;
    width: 100%;

    @media screen and (max-width: 976px) {
        padding: 0;
    }
}