$color-white: #ededed;
$color-body: #f0f0f0;
$color-black: #0c0c0c;
$color-gray: #1d1d1e;
$color-light-gray: #434343;
$color-blue: #0a64ff;
$color-violet: #7d64fc;
$color-green: #19a712;
$color-orange: #f45123;
$color-red: #a60a0a;
$color-aqua: #069c97;

$font-primary:'mulish';
$font-secundary:'poppins';